{{ define "main" }}
  {{ .Content }}
  {{ $pages := .Paginate (where
    .Site.RegularPages "Type" "ne" "page")
  }}
  {{ range $pages.Pages }}
    <a href="{{ .RelPermalink }}" style="display: block">
      <div class="list">
        {{ $dateMachine := .Lastmod | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Lastmod | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

        <h2>{{ .Title }}</h2>

        <p class="lead">{{ .Description }}</p>
      </div>
    </a>
  {{ end }}
{{ end }}
